body {
    background-image: url("mullataust.png");
}

header {
    height: 240px;
    width: 100%;
    position: relative;
    overflow: hidden;
    z-index: 10;

    background-image:
            linear-gradient(#3ab72ccc, #2f9f20cc),
            url("maimkraft.png");
    background-blend-mode: multiply;
    background-size: cover;
    animation: dirtShift 8s ease-in-out infinite alternate;
    background-position: center -50px;
    box-shadow: 0 10px 0 #1a1107;
}

.sisu {
    width: fit-content;
}

.pilt {
    display: block;
    width: 80vw;
    height: auto;
    margin: 0 auto;
}

.tekst {
    margin-bottom: 30px;
    margin-top: 0;
    color: #84ff00;
    text-align: right;
    font-family: sans-serif;
}

footer {
    font-family: sans-serif;
    background-color: rgba(128, 128, 128, 0.5);
    padding: 20px;
    text-align: center;
    color: black;
    font-size: 17px;
}