body {
    background-image: url("maimkraft.png");
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-size: cover;
    color: #ffffff;
    min-height: 100vh;
}

header {
    height: 240px;
    width: 100%;
    position: relative;
    overflow: hidden;
    z-index: 10;
    background-image:
            linear-gradient(#3ab72ccc, #2f9f20cc),
            url("maimkraft.png");
    background-blend-mode: multiply;
    background-size: cover;
    animation: dirtShift 8s ease-in-out infinite alternate;
    background-position: center -50px;
    box-shadow: 0 10px 0 #1a1107;
    margin-bottom: 40px;
}

.nav-links {
    pointer-events: auto;
    margin-top: 15px;
    display: flex;
    gap: 30px;
    justify-content: center;
}

.nav-links a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
    text-shadow: 4px 4px 0 #000;
    font-weight: bold;
}

.nav-links a:hover {
    color: #3ab72c;
    text-shadow: 0 0 10px #3ab72c, 0 0 20px #3ab72c;
}

.mc-header-inner {
    position: absolute;
    bottom: 50px;
    width: 100%;
    text-align: center;
    pointer-events: none;
}

.header-title {
    font-size: 64px;
    font-weight: 900;
    text-shadow: 4px 4px 0 #000;
}

.header-tagline {
    font-size: 24px;
    margin-top: 5px;
    text-shadow: 3px 3px 0 #000;
}

.sisu {
    width: max-content;
    margin: 0 auto;
}

.pilt {
    display: block;
    width: 80vw;
    height: auto;
}

.tekst {
    margin-bottom: 30px;
    margin-top: 5px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px;
    width: max-content;
    font-size: 18px;
}

footer {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    padding: 30px 20px;
    text-align: center;
    margin-top: 40px;
}