* {
    cursor: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-image: url("suurtaust.png");
    background-size: contain;
    background-repeat: repeat;
    color: #ffffff;
    min-height: 100vh;
}

.sisu {
    width: max-content;
    margin: 0 auto;
}

.pilt {
    display: block;
    width: 80vw;
    height: auto;
}

.tekst {
    margin-bottom: 30px;
    margin-top: 5px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px;
    width: max-content;
    font-size: 18px;
}
