/* ------------------------------- */
/* GLOBAL RESET & BASE STYLING    */
/* ------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: url("taustad/maimkraft.png") no-repeat center top;
  background-size: cover;
  color: #ffffff;
  min-height: 100vh;
}

/* Hide cursor across page */
body, * {
  cursor: none;
}

/* ------------------------------- */
/* MAIN CONTENT CONTAINER          */
/* ------------------------------- */
.content {
  margin: auto;
}
.container {
  display: flex;
  width: 80%;
  margin: 40px auto;
  padding: 40px;
  background: rgba(0, 0, 0, 0.45);
  border-radius: 20px;
  backdrop-filter: blur(4px);
  margin-top: 100px;
  margin-bottom: 254px;

}
.container h1 {
  font-size: 48px;
  margin-bottom: 20px;
  text-shadow: 2px 2px 5px #000;
}

.container p {
  font-size: 22px;
  line-height: 1.6;
}

.content-button {
  color: #ffffff;
  font-weight: bold;
  text-shadow: 3px 3px 0 #181818;
  background-color: #8f8f8f7e;
  border-color: #AAA #565656 #565656 #AAA;
  outline: 2px solid #000;
  padding: 10px 20px;
  margin-top: 10px;
  transition: background-color 0.3s, box-shadow 0.1s;
}
.content-button:hover {
  background-color: #b5b5b5aa;
}

.content-image {
  display: block;
  height: auto;
  margin: 20px auto;
  border-radius: 12px;
  box-shadow: 0 0 15px #000;
}
.content-description {
  display: block;
  height: auto;
  max-width: 308px;
  margin: 20px auto;
  text-align: center;
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  font-family: sans-serif;
  text-shadow: 4px 4px 0 #181818;
  word-wrap: break-word;
}
.content-text {
  display: block;
  height: auto;
  max-width: 800px;
  margin: 20px auto;
  text-align: center;
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  font-family: sans-serif;
  text-shadow: 4px 4px 0 #181818;
  word-wrap: break-word;
}
.content-text li {
  font-size: 20px;
  text-align: left;
  margin: 16px;
}