/* ------------------------------- */
/* GLOBAL RESET & BASE STYLING    */
/* ------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: url("maimkraft.png") no-repeat center top;
  background-size: cover;
  color: #ffffff;
  min-height: 100vh;
}

body, * {
  cursor: none;
}

/* ------------------------------- */
/* MAIN CONTENT CONTAINER          */
/* ------------------------------- */

.container {
  width: 80%;
  margin: 40px auto;
  padding: 40px;
  background: rgba(0, 0, 0, 0.45);
  border-radius: 20px;
  backdrop-filter: blur(4px);
  margin-top: 100px;
  margin-bottom: 254px;
}

.container h1 {
  font-size: 48px;
  margin-bottom: 20px;
  text-shadow: 2px 2px 5px #000;
}

.container p {
  font-size: 22px;
  line-height: 1.6;
}